<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Booking
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item lines="none" routerLink="/places/tabs/discover">
          <ion-icon name="bussiness" slot="start"></ion-icon>
          <ion-label>Discover Places</ion-label>
        </ion-item>
        <ion-item lines="none" routerLink="/bookings">
          <ion-icon name="checkbox-outline" slot="start"></ion-icon>
          <ion-label>Your Bookings</ion-label>
        </ion-item>
        <ion-item lines="none" (click)="onLogout()" button>
          <ion-icon name="exit" slot="start"></ion-icon>
          <ion-label>Log out</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title text:align: center>Discover Places</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" padding>
    <ion-segment value="all" (ionChange)="onFilterUpdate($event)">
      <ion-segment-button value="all" checked>All Places</ion-segment-button>
      <ion-segment-button value="bookable">Bookable Places</ion-segment-button>
    </ion-segment>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center" size="12" sizeSm="8" offsetSm="2" >
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{loadedPlaces[0].title}}</ion-card-title>
              <ion-card-subtitle>{{loadedPlaces[0].price | currency}} / Night</ion-card-subtitle>
            </ion-card-header>
            <ion-img [src]="loadedPlaces[0].imageUrl"></ion-img>
            <ion-card-content>
              <p>{{loadedPlaces[0].description}}</p>
            </ion-card-content>
            <div>
              <ion-button fill="clear" color="primary"
                [routerLink]="['/','places','tabs','discover',loadedPlaces[0].id]">More</ion-button>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size="12" sizeSm="8" offsetSm="2" >
          <ion-list>
            <ion-item *ngFor="let place of loadedPlaces.slice(1)"
              [routerLink]="['/','places','tabs','discover',place.id]">
              <ion-thumbnail slot="start">
                <ion-img [src]="place.imageUrl"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h2>{{place.title}}</h2>
                <p>{{place.description}}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>