<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"> </ion-back-button>
    </ion-buttons>
    <ion-title>New Offer</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCreateOffer()" [disabled]="!form.valid || !this.form.get('image')?.value">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input type="text" formControlName="title"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">Short Description</ion-label>
            <ion-textarea rows="3" formControlName="description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">Price</ion-label>
            <ion-input type="number" formControlName="price"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <div>
        <ion-row>
          <ion-col sizeSm="3" offsetSm="3">
            <ion-item>
              <ion-label position="stacked">Available from</ion-label>
              <ion-datetime-button datetime="datetime"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime presentation="date" id="datetime" [ngModel]="startDate" [min]="startDate"
                    max="2025-01-01" formControlName="dateFrom"></ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>
          </ion-col>
          <ion-col sizeSm="3">
            <ion-item>
              <ion-label position="stacked">Available to</ion-label>
              <ion-datetime-button datetime="datetimeto"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime presentation="date" id="datetimeto" [ngModel]="startDate" [min]="startDate"
                    max="2025-01-01" formControlName="dateTo"></ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <app-image-picker (imagePick)="onImagePicked($event)"></app-image-picker>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>