<ion-header>
  <ion-toolbar>
    <ion-title>{{selectedPlace.title}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <form (ngSubmit)="onBookPlace()" #f="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input type="text" ngModel name="first-name" required=""></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input type="text" ngModel name="last-name" required=""></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">Number of Quest</ion-label>
            <ion-select [ngModel]="'2'" name="quest-number">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <div>
        <ion-row>
          <ion-col sizeSm="3" offsetSm="3">
            <ion-item>
              <ion-label position="stacked">From</ion-label>
              <ion-datetime-button datetime="datetime"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime presentation="date" id="datetime" [ngModel]="startDate" [min]="startDate" [max]="endDate"  name="datetime"
                    ></ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>
          </ion-col>
          <ion-col sizeSm="3">
            <ion-item>
              <ion-label position="stacked">To</ion-label>
              <ion-datetime-button datetime="datetimeto"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime presentation="date" id="datetimeto" name="datetimeto" [ngModel]="startDate" [min]=startDate [max]=endDate required></ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <p>{{selectedPlace.description}}</p>
          <ion-button type="submit" color="primary" (click)="onBookPlace()" expand="block" [disabled]="!f.valid || !datesValid()">Book</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>